//row changed flex direction to column
.row {
  display: flex;
  justify-content: space-evenly;

  & > *:not(:last-child) {
    margin-right: $gutter-horizontal;
  }

  @include respond(tab-port) {
    flex-direction: column;
    & > *:not(:last-child) {
      margin-right: 0;
    }
    justify-content: center;
    align-items: center;

    & > *:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  .col-1-of-2 {
    // border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - #{$gutter-horizontal}) / 2);
  }
  .col-1-of-3 {
    // border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - (#{$gutter-horizontal} * 2)) / 3);
  }
  .col-1-of-4 {
    // border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - (#{$gutter-horizontal} * 3)) / 4);
  }
  .col-2-of-3 {
    // border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(
      (100% - (#{$gutter-horizontal} * 2)) / 3 * 2 + $gutter-horizontal
    );
  }
  .col-2-of-4 {
    // border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(
      (100% - (#{$gutter-horizontal} * 3)) / 4 * 2 + $gutter-horizontal
    );
  }
  .col-3-of-4 {
    // border: 1px solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(
      (100% - (#{$gutter-horizontal} * 3)) / 4 * 3 + 2 * $gutter-horizontal
    );
  }
}

//row without flex direction changed to column
.row--1 {
  display: flex;
  justify-content: space-evenly;

  & > *:not(:last-child) {
    margin-right: $gutter-horizontal;
  }

  .col-1-of-2--1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - #{$gutter-horizontal}) / 2);
  }
}

.row--2 {
  display: flex;
  flex-flow: row wrap;
  .col-1-of-3--1 {
    &--left {
      order: 1;
      width: 33.3333%;
      @include respond(phone) {
        width: 100%;
        // display: flex;
        // justify-content: center;
      }
    }

    &--center {
      order: 2;
      width: 33.3333%;

      @include respond(phone) {
        width: 50%;
      }
    }

    &--right {
      order: 3;
      width: 33.3333%;

      @include respond(phone) {
        width: 50%;
      }
    }

    // &--left {
    //   @include respond(phone) {
    //     order: 1;
    //     width: 100%;
    //   }
    // }

    // &--center {
    //   @include respond(phone) {
    //     flex-shrink: 0;
    //     flex-grow: 0;
    //     order: 2;
    //     width: 50%;
    //   }
    // }

    // &--right {
    //   @include respond(phone) {
    //     flex-shrink: 0;
    //     flex-grow: 0;
    //     order: 3;
    //     width: 50%;
    //   }
    // }
  }
}
// #container {
//   display: flex;
//   flex-flow: row wrap;
// }
// .left {
//   order: 1;
//   width: 100%;
//   background-color: red;
// }
// .right {
//   order: 2;
//   width: 50%;
//   background-color: green;
// }
// .center {
//   order: 3;
//   width: 50%;
//   background-color: blue;
// }
