<<<<<<< HEAD
.section-styles {
  padding: 11rem 8rem 10rem 8rem;
  background-color: $color-grey-light-1;
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-grey-dark-1, 0.3),
  //     rgba($color-grey-light-1, 0.3)
  //   ),
  //   url(../nail/background_4.jpg);
  // background-size: cover;
  .btn-underline {
    text-align: right;
  }

  @include respond(tab-port) {
    padding: 10rem 20rem;
    text-align: center;
  }

  @include respond(phone-s) {
    padding: 10rem 8rem;
    text-align: center;
  }
}

.section-reasons {
  padding: 11rem 8rem 15rem 8rem;
  background-color: rgba($color-primary-dark-pink, 0.9);

  @include respond(tab-port) {
    padding: 10rem 10rem;
    margin-top: 5rem;
  }
}

.section-customer-comment {
  padding: 10rem 15rem;
  // background-color: rgba($color-grey-light-1, 1);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-1, 0.2),
      rgba($color-grey-light-1, 0.2)
    ),
    url(../nail/background_2.jpg);
  background-size: cover;

  @include respond(tab-port) {
    padding: 5rem 10rem;
  }
}

.section-booking {
  background-image: linear-gradient(
    90deg,
    $color-grey-light-1 0%,
    $color-grey-light-1 30%,
    rgba($color-primary-dark-pink, 0.9) 30%
  );
  // background-color: rgba($color-primary-dark-pink, 0.9);
  padding: 10rem;
  @include respond(tab-port) {
    padding: 4rem 10rem 10rem 10rem;
  }
  @include respond(phone-s) {
    padding: 4rem;
  }
}

.booking {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 68%,
      transparent 68%
    ),
    url(../nail/background.jpg);
  height: 45rem;
  width: 75%;
  background-size: contain;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba($color-grey-dark-1, 0.2);
  z-index: 1;
  margin-top: 8rem;

  @include respond(tab-port) {
    width: 100%;
    height: auto;
    padding: 3rem;
  }
  @include respond(phone) {
    background-image: linear-gradient(
        rgba($color-white, 0.9),
        rgba($color-white, 0.9)
      ),
      url(../nail/background.jpg);
    margin-top: 3rem;
  }

  &__form {
    padding: 3rem 5rem 3rem 5rem;
    width: 70%;

    @include respond(phone) {
      width: 100%;
    }

    @include respond(phone-s) {
      padding: 0;
    }
  }
}

.section__decoration-box {
  position: relative;
  left: -2rem;
  top: -45rem;
}
=======
.section-styles {
  padding: 11rem 8rem 10rem 8rem;
  background-color: $color-grey-light-1;
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-grey-dark-1, 0.3),
  //     rgba($color-grey-light-1, 0.3)
  //   ),
  //   url(../nail/background_4.jpg);
  // background-size: cover;
  .btn-underline {
    text-align: right;
  }

  @include respond(tab-port) {
    padding: 10rem 20rem;
    text-align: center;
  }
}

.section-reasons {
  padding: 11rem 8rem 15rem 8rem;
  background-color: rgba($color-primary-dark-pink, 0.9);

  @include respond(tab-port) {
    padding: 10rem 10rem;
    margin-top: 5rem;
  }
}

.section-customer-comment {
  padding: 10rem 15rem;
  // background-color: rgba($color-grey-light-1, 1);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-1, 0.2),
      rgba($color-grey-light-1, 0.2)
    ),
    url(../nail/background_2.jpg);
  background-size: cover;

  @include respond(tab-port) {
    padding: 5rem 10rem;
  }
}

.section-booking {
  background-image: linear-gradient(
    90deg,
    $color-grey-light-1 0%,
    $color-grey-light-1 30%,
    rgba($color-primary-dark-pink, 0.9) 30%
  );
  // background-color: rgba($color-primary-dark-pink, 0.9);
  padding: 10rem;
  @include respond(tab-port) {
    padding: 4rem 10rem 10rem 10rem;
  }
}

.booking {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 68%,
      transparent 68%
    ),
    url(../nail/background.jpg);
  height: 45rem;
  width: 75%;
  background-size: contain;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba($color-grey-dark-1, 0.2);
  z-index: 1;

  @include respond(tab-port) {
    width: 100%;
    height: auto;
    padding: 3rem;
  }
  @include respond(phone) {
    background-image: linear-gradient(
        rgba($color-white, 0.9),
        rgba($color-white, 0.9)
      ),
      url(../nail/background.jpg);
  }

  &__form {
    padding: 3rem 5rem 3rem 5rem;
    width: 70%;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.section__decoration-box {
  position: relative;
  left: -2rem;
  top: -45rem;
}
>>>>>>> 70a0321b6e5ab0ca159b259b65fd9fbf6cde8f67
